<h3>Post a Comment</h3>
<%= form_for [ @review, @comment] do |f| %>
  <ul>
  <% @comment.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :comment_body, "type your comment" %><br />
    <%= f.text_field :comment_body %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>